* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f4f1eb;
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

.page-wrapper {
    width: 1100px;
    margin: auto;
    padding: 40px;
}


.intro h1 {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

.intro h2 {
    font-weight: normal;
}

.summary {
    width: 400px;
    margin: 40px 0;
}

.preamble {
    background: #222;
    color: white;
    padding: 30px;
    margin-bottom: 50px;
}


.main {
    width: 750px;
}

.main h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

.main > div {
    margin-bottom: 50px;
}

.main p {
    margin-bottom: 15px;
}

footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
}